*{
    box-sizing: border-box;
}

:root {
    --main-color: #062868;
    --subs-color: #b284fc;
}

body{
    background-color: var(--main-color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    header{
        padding: 1rem;
        display: flex;
        justify-content: center;
        background-color: var(--subs-color);
        .search{
            border: 2px solid var(--main-color);
            border-radius: 50px;
            font-size: 1.5rem;
            padding: 0.5rem 1rem;
            color: aliceblue;
            background-color: transparent;
            &::placeholder{
                color: rgb(43, 170, 170);
            }
            &:focus{
                outline: none;
                background-color: var(--main-color);
            }
        }
    }
    main{
        .container{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .card{
                width: 35rem;
                margin: 1rem;
                background-color: var(--subs-color);
                position: relative;
                overflow: hidden;
                border-radius: 3px;
                .card-image{
                    width: 100%;
                    height: 70%;
                }
                .card-title{
                    color: aliceblue;
                    align-items: center;
                    padding: 0.5rem 1rem 1rem;
                    letter-spacing: 0.5px;
                    text-transform: capitalize;
                }
                .card-raiting{
                    position: relative;
                    top: -5%;
                    margin-left: 80%;
                }
                .review{
                    color: aliceblue;
                    justify-content: center;
                    padding-left: 0.5rem;
                }
            }
        }
    }
    footer{
        display: flex;
        flex-direction: row;
        gap: 25%;
        padding: 1rem 5.5rem;
        a{
            color: aliceblue;
            text-decoration: none;
            font-size: 3em;
            img{
                width: 100%;
                height: 70%;
            }
        }
        h4{
            color: aliceblue;
            font-size: 3em;
        }
    }
}