*{
    box-sizing: border-box;
}

:root {
    --main-color: #062868;
    --subs-color: #b284fc;
}

body{
    background-color: var(--main-color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    header{
        padding: 1rem;
        display: flex;
        justify-content: center;
        background-color: var(--subs-color);
        .search{
            border: 2px solid var(--main-color);
            border-radius: 50px;
            font-size: 1.5rem;
            padding: 0.5rem 1rem;
            color: aliceblue;
            background-color: transparent;
            &::placeholder{
                color: rgb(43, 170, 170);
            }
            &:focus{
                outline: none;
                background-color: var(--main-color);
            }
        }
        .search-button{
            background: transparent;
            position: absolute;
            left: 56%;
            top: 1.8%;
            border: none;
            cursor: pointer;
            width: 3rem;
            height: 3rem;
            img{
                width: 100%;
                height: 100%;
                &:after{
                    background-color: rgb(255, 255, 255);
                }
            }
        }
        .cross{
            position: relative;
            width: 2rem;
            height: 2rem;
            cursor: pointer;
            margin-left: 75%;
            top: -48%;
            display: none;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
    main{
        .container{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 2%;
            .card{
                width: 5rem;
                height: 5rem;
                margin: 1rem;
                background-color: var(--subs-color);
                position: relative;
                overflow: hidden;
                border-radius: 3px;
            }
            .error{
                color: red;
                width: 6rem;
                height: 6rem;
                margin: auto;
            }
        }
    }
    footer{
        display: flex;
        flex-direction: row;
        gap: 25%;
        padding: 1rem 5.5rem;
        a{
            color: aliceblue;
            text-decoration: none;
            font-size: 3em;
            img{
                width: 100%;
                height: 70%;
            }
        }
        h4{
            color: aliceblue;
            font-size: 3em;
        }
    }
}

@media (max-width: 1280px) {
    .container{
        width: 100%;
    }
}

@media (max-width: 768px) {
    main{
        width: 95%;
        .card{
            width: 100%;
        }
    }
}

@media (max-width: 480px) {
    
}